<div layout="column" class="relative" layout-fill role="main">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="menu" ng-click="shellVm.toggleList()" hide-gt-sm aria-label="Show Location List">
                <md-icon md-svg-src="/static/images/svg/menu.svg"></md-icon>
            </md-button>
            <h3>
                Navigation
            </h3>
        </div>
    </md-toolbar>
    <ui-view layout="column" layout-fill layout-padding></ui-view>
</div>
