<md-toolbar>
    <md-button class="menu">
        <md-icon md-svg-src="/static/images/svg/menu.svg"></md-icon>
    </md-button>
</md-toolbar>

<div data-ng-include="'static/partials/layout/sidebar.html'"></div>

<!-- <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="brand-container">
            <a ui-sref="start" class="brand-link">
                <div class="brand-logo-container">
                    <img class="brand-logo" alt="UU-logo" src="/static/images/uulogo_white.gif">
                </div>
                <span class="brand-name">Erken Laboratory Monitoring</span>
            </a>
        </div>
    </div>

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
        </li>
    </ul>
    
    <div data-ng-include="'static/partials/layout/sidebar.html'"></div>

</nav> -->


